@{
    ViewData["Title"] = "Editar Perfil";
}

<div class="text padding2">
    <br><br>
    <form method= "post" action = '@Url.Action("GuardarCambiosUsuario","Home")' enctype="multipart/form-data">
        <div class="form-group">
            <label for="" class="d-block mb-1">Nombre</label>
            <input type="text" name="Nombre" id="Nombre" tabindex="1" class="form-control" placeholder="Usuario" value="@BD.UsuarioLogueado.Nombre">
        </div>

        <div class="form-group">
            <label for="" class="d-block mb-1">Apellido</label>
            <input type="text" name="Apellido" id="Apellido" tabindex="2" class="form-control" placeholder="Apellido" value="@BD.UsuarioLogueado.Apellido">
        </div>

        <div class="form-group">
            <label for="" class="d-block mb-1">Nombre de Usuario</label>
            <input type="text" name="NombreDeUsuario" id="NombreDeUsuario" tabindex="3" class="form-control" placeholder="Nombre De Usuario" value="@BD.UsuarioLogueado.NombreDeUsuario">
        </div>

        <div class="form-group">
            <label for="" class="d-block mb-1">Correo electronico</label>
            <input type="email" name="Mail" id="Mail" tabindex="4" class="form-control" placeholder="Correo electronico" value="@BD.UsuarioLogueado.Mail">
        </div>

        <div class="form-group">
            <label for="" class="d-block mb-1">Contrase単a</label>
            <input type="password" name="Contrase単a" id="Contrase単a" tabindex="5" class="form-control" placeholder="Contrase単a">
        </div>
        
        <button type="submit" class="btn btn-primary col-2 mb-2">Guardar Cambios</button>

    </form>
  
</div>

<section class="container-fluid">