@{
    ViewData["Title"] = "Perfil";
}
<div class="conteiner-fluid text padding2">
    <h3 class="display-4 diseñodeltituloprincipal2">Perfil</h3>
    <div class="Agregar2">
            <div class="orden">
                <div class="row CuadroDeInfoPers" style="padding-bottom: 2rem">
                    <div class="col-md-auto">
                        <!--esto para que sirve? nunca va a llegar a esta view si nunca se log in-->
                        @if (BD.UsuarioLogueado==null) 
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CrearCuenta">Iniciar Sesión</a>
                        } 
                        else
                        {
                            <a class="imagenes" href="#" id="imgdeperfil">
                                @if(BD.NombraImagen() == null)
                                {
                                    <img src="/img/iconoparaverperfil.png">
                                }
                                else
                                {
                                    <img src="/img/@BD.NombraImagen()" class="round imagenes2">
                                } 
                            </a>
                            }
                    </div>
                    
                    <div class="col-md-6">
                        <h3><b>Nombre de usuario: </b>@BD.UsuarioLogueado.NombreDeUsuario</h3>
                        <h5><b>Nombre: </b>@BD.UsuarioLogueado.Nombre @BD.UsuarioLogueado.Apellido</h5>
                        <div style="padding-top: 1.5rem;">
                            <a class="diseñodeagregar col-md-12 col-xl-2" href="/Home/ModificarUsuario" role="button">edit profile</a>
                        </div>
                    </div>
                </div>

                <h3 style="padding-top: 2rem;"><b>Libros guardados:</b></h3>
                        <div class="row centrarElementos" style="margin-left: 0.1rem;">
                            @{
                                if(BD.haylibrosguardadosensuperfil(BD.UsuarioLogueado.IdUsuario) == true)
                                {
                                    foreach(Libro bib in ViewBag.LibrosGuardados){
                                        <div class="col-md-4 col-lx-12 cardy tengosueñoayuda">
                                            <div class="card" style="width: 20rem; padding: 1rem;">
                                                <img src="/img/@bib.Portada" class="card-img-top tamañofotosenperfil" alt="Portada">
                                                <div class="card-body">
                                                    <div class="row" >
                                                        <div class="col-md-12 text-center">
                                                            <h4 class="card-title" style="color: black;"><b>@bib.Nombre</b></h4>
                                                            <h6 class="text-center" style="color: black;"><b>@bib.Autor</b></h6>
                                                        </div> <br><br>

                                                        <div class="col-3"></div>
                                                            <div style="" class=" col-6 text-center">
                                                                <a href='@Url.Action("GuardarLibroEnBibliotecaperoparacuandoestaenelperfil", "Home", new {IdUsuario = BD.UsuarioLogueado.IdUsuario, IdLibro = bib.IdLibro})' alt="">
                                                                    <img src="/img/guardar-en-instagram.png" class="iconoGuardar2">
                                                                </a>
                                                            </div>
                                                            <div class="col-mb-3"></div><br>
                                                            <div class="col-3"></div>
                                                            <div style="padding-top: 1rem; bottom: 0.5rem" class=" col-mb-6 col-xl-6 text-center">
                                                                <a href='@Url.Action("VerDetalleLibro", "Home", new {IdLibro = bib.IdLibro})' class="diseñodeagregar btn-lg btn-block" style="text-align: center; margin-bottom: 2 rem" role="button" >Más info</a>
                                                            </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else{
                                    <h5 style="color: red;"><b>No hay Libros aun</b></h5>
                                }
                            }
                        </div>
            </div>
        </div>
    </div>
</div>

  <section class="container-fluid">