@{
    ViewData["Title"] = "Detalle Personaje";
}

<h1 class="display-4 text-center"><b>@ViewBag.Personajes.Nombre</b></h1> 
<div class="conteiner-fluid padding">
<div class="borde">
        <div class="orden">
            <div class="row CuadroDeInfoPers">
                <h5>Fanart:</h5>
                <div class="col-md-auto">
                    <img src="/img/@ViewBag.Personajes.Foto" alt="Foto @ViewBag.Personajes.Nombre" width="300rem"> 
                </div>
                <div class="col-md-auto"></div>
                <div class="col-md-6">
                        <h5>Información:</h5>
                        <p><b>Fecha de nacimiento: </b><br>@ViewBag.Personajes.FechaNacimiento.ToShortDateString()</p>
                        <p><b>Estado: </b><br>@ViewBag.Personajes.Estado</p>
                        <p><b>Genero: </b><br>@ViewBag.Personajes.Genero</p>
                        <p><b>Nacionalidad: </b><br>@ViewBag.Personajes.Nacionalidad</p>
                </div>
            </div>
            <p><b>Descripción: </b><br>@ViewBag.Personajes.Descripcion</p>
        </div>
</div>
</div>
