@{
    ViewData["Title"] = "Detalle Libro";
}

    <div class="container-fluid s">
        <div class="Agregar2">
            <div class="sangria">
                <h1 class="display-4 diseñodeltituloprincipal3">@ViewBag.Libro.Nombre</h1>
                <h3 class="display-4 text-center" id="autor">De @ViewBag.Libro.Autor</h3>
                <p></p>
                <div class="row">
                    <div class="col-md-6" style="display: flex;justify-content: flex-end;align-items: center;">
                        <img src="/img/@ViewBag.Libro.Portada" alt="Portada" width="300rem">
                    </div>
                    <div class="col-md-6" style="display: flex;justify-content: flex-start;align-items: center;">
                        <img src="/img/@ViewBag.Libro.Contraportada" alt="Contraportada" width="300rem">
                    </div>
                </div>
                @{if(ViewBag.Sesion == true)
                    {
                        <a href='@Url.Action("GuardarPersonaje", "Home", new {IdLibro = ViewBag.Libro.IdLibro})' class="" alt="Guardar @ViewBag.Libro.Nombre">
                            <img src="/img/singuardar.png" class="iconoGuardar">
                        </a>
                    }
                    else{
                        <img src="/img/singuardar.png" class="iconoGuardar" data-toggle="modal" data-target="#exampleModalCenter"> 
                    }
                }
                <br> <br>
                @{
                    if(@ViewBag.Libro.Categoria != "ATP")
                    {
                        <p><b>Clasificado para @ViewBag.Libro.Categoria</b></p>
                    }
                    else if(@ViewBag.Libro.Categoria == "ATP")
                    {
                        <p><b>Clasificado para todo publico.</b></p>
                    }
                    if(@ViewBag.Libro.TW != ""){
                        <p><b>Advertencias este libro contiene:</b><br>@ViewBag.Libro.TW</p>
                    }
                }
                <p><b>Genero:</b><br>@ViewBag.Libro.GeneroPrincipal</p>
                <p><b>Cantidad de páginas que contiene el libro:</b><br>@ViewBag.Libro.CantPaginas</p>
                @{
                    if(@ViewBag.Libro.CantLibros > 1){
                        <p><b>Cantidad de Libros que contiene la saga en la que pertenece este libro:</b><br>@ViewBag.Libro.CantLibros</p>
                    }
                }
                <p><b>Sinopsis: </b><br> @ViewBag.Libro.Descripción</p>
                <p><b>Personajes:</b><br></p>

                <div class="row centrarElementos" style="text-align: center">
                        @{
                            if(BD.haypersonaje(ViewBag.Libro.IdLibro) == false)
                            {
                                <h5 style="color: red;"><b>No hay personas aún</b></h5>
                            }
                            else{
                            foreach (Personaje Pers in ViewBag.Personajes)
                            {
                                <div class="col-md-4 cardy">
                                    <div class="card" style="width: 18rem;">
                                        <img src="/img/@Pers.Foto" class="card-img-top" alt="Personaje">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 text-left">
                                                    <h3 class="card-title" style="color: black;">@Pers.Nombre</h3>
                                                </div>
                                                <div class="col-md"></div>
                                                <div class="col-md-2 derecha" style="justify-content: flex-end;">
                                                    @{if(ViewBag.Sesion == true)
                                                    {
                                                        <a href='@Url.Action("EliminarPersonaje", "Home", new {IdPersonaje = Pers.IdPersonaje, IdLibro = Pers.IdLibro})' class="" alt="Eliminar personaje">
                                                            <img src="/img/basura.png" class="card-img-top">
                                                        </a>
                                                    }
                                                    else{
                                                        <img src="/img/basura.png" class="card-img-top" data-toggle="modal" data-target="#exampleModalCenter">
                                                    }
                                                }   
                                                </div>
                                            </div>
                                            <br>
                                            <a href='@Url.Action("VerDetallePersonaje", "Home", new {IdPersonaje = Pers.IdPersonaje})' class="btn hireMe diseñodeagregar" style="display: flex; align-items: center;justify-content: center;">Ver info</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        }
                </div>
                <div style="text-align: right">
                    <br>
                    @{if(ViewBag.Sesion == true){
                    <a href='@Url.Action("AgregarPersonaje", "Home", new{IdLibro = ViewBag.ElId})' class="Basta hireMe diseñodeagregar col-12 col-xl-2">Agregar personaje  +</a>
                    }
                    else{
                        <button type="button" class="btn pos diseñodeagregar col-12 col-xl-2" data-toggle="modal" data-target="#exampleModalCenter">
                        Agregar personaje  +
                        </button>
                    }
                    }
                </div>
            <br><br>
            </div>
        </div>
        <p><b>Reseñas: </b><br>
        <div class="padding container-fluid">
            <form method= "post" action = '@Url.Action("GuardarComentario","Home")' enctype="multipart/form-data">
                <div class="Agregar">
                    <div style="margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem;">
                        <input type = "hidden" name = "IdLibro" value="@ViewBag.ElId">
                        <br><br>
                         <label for="Estrella"></label>
                            <div class="EnRNbf" aria-hidden="true">
                                <div class="a6k14c">
                                    <div class="g-s xgYtHe">
                                        <svg class="g-s-OAU7Vd" viewBox="0 0 24 24" width="100%" height="100%">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </div>

                                    <div class="g-s xgYtHe">
                                        <svg class="g-s-OAU7Vd" viewBox="0 0 24 24" width="100%" height="100%">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </div>

                                </div>
                              </div>

                        <br><br>
                        <label for="Descripcion"><b>COMENTARIO:</b></label>
                        <input type="textarea" name="Comentario" required>
                        <br><br>
                        <button type="submit" class="btn btn-primary col-2 mb-2">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color: black;">¡Error!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Usted no puede eliminar, ni modificar ningun objeto debido a que no inicio sesión. Por favor registrate o create una cuenta!!
          </div>
          <div class="modal-footer">
            <a href='@Url.Action("CrearCuenta", "Home")' class="btn hireMe pos diseñodeagregar">Iniciar Sesión</a>
            <button type="button" class="btn hireMe pos diseñodeeliminar" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

